{% extends 'jobskills/index.html' %}

{% load static %}
{% block header %}
  <link rel="icon" href="{% static 'images/J_ICON.ico' %}">
  <title>Jobs</title>
{% endblock %}


{% load crispy_forms_tags %}
{% block heading %}<h1>Jobs posted by {{ own.username }}</h1>{% endblock %}
{% block content %}
<section class="ftco-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 pr-lg-4">
        <div class="row">
          {% for job in job %}
          <div class="col-md-12 ftco-animate">
            <div class="job-post-item p-4 d-block d-lg-flex align-items-center">

              <div class="one-third mb-4 mb-md-0">
                <div class="job-post-item-header align-items-center">
                  Applied by: <span class="subadge"> {{job.applied}} </span>candidate/s
                  <h3 class="mr-3 text-black"><a href="#" style="color:black;">{{job.title}}</a></h3>
                </div>
                <div class="job-post-item-body d-block d-md-flex">
                  <div class="mr-3"><i class="icon-briefcase"></i> Experience: {{job.exp}} years</div>
                  <div><span class="icon-my_location"></span> Job type: {{job.type}}</div> &nbsp;&nbsp;&nbsp
                  <div><i class="icon-calendar"></i> Posted on:{{job.posted_date|date:'d/m/Y'}} </div>
                </div>
              </div>
              <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
                <a href="{% url 'owner-job-details' job.id %}" class="btn btn-primary py-2">View Job</a>
              </div>
            </div>
          </div><!-- end -->
          {% endfor %}

          <!-- Pagination -->
          <div class="container mx-auto" style="width: 400px;"">
            {% if job.has_previous %}
               <a class="btn btn-outline-info mb-4" href="?page=1"><<</a>
               <a class="btn btn-outline-info mb-4" href="?page={{jobs.previous_page_number}}"><</a>
            {% endif %}

            {% for num in job.paginator.page_range %}
              {% if job.number == num %}
                <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
              {% elif num > job.number|add:'-3' and num < job.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
              {% endif %}
            {% endfor %}

            {% if job.has_next %}
               <a class="btn btn-outline-info mb-4" href="?page={{job.next_page_number}}">></a>
               <a class="btn btn-outline-info mb-4" href="?page={{job.paginator.num_pages}}">>></a>
            {% endif %}
          </div>

        </div>
      </div>
    </div>
  </div>
</<section>
{% endblock %}
